






/*

body {
    background-color: rgb(183, 218, 248);
}

h1 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 10px 10px;
    
}

p {
    padding: 10px 10px;
    font-size: 20px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 150px;
    height: auto;
    background-color: rgb(1, 212, 82);
    border-radius: 10px;
    font-size: xx-large;
}

button:hover {
    cursor: crosshair;
}

.photos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.photo {
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

.selection {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 10px;
}

*/